<configuration scan="true">
    <springProfile name="dev-gcp,prod-gcp">
        <appender name="consoleJsonAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>
        <root level="INFO">
            <appender-ref ref="consoleJsonAppender"/>
        </root>
    </springProfile>
    <springProfile name="local,test">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <logger name="org.springframework.web" level="DEBUG"/>
    </springProfile>
</configuration>
