<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <springProfile name="preprod, prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>
    </springProfile>
    <logger name="no.nav" level="INFO" />
    <logger name="no.nav.security" level="WARN" />
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>